version: '3.3'
services:
  db:
    image: mysql:5.6
    container_name: mysql
    restart: always
    volumes:
      - mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=app_development
    networks:
      - network
    ports:
      - "3306:3306"
  app:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    environment:
      - PMA_ARBITRARY=1
    networks:
      - network
    ports:
      - 8888:80
  nginx:
    image: nginx:1.12-alpine
    container_name: nginx
    restart: always
    volumes:
      - nginx:/var/log/nginx
      - /home/gustavo.ramalho/Workspace/webstorm/projetoTecnologias/NodeJS/myapp:/myapp:rw
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - network
    ports:
      - 80:80
networks:
  network:
volumes:
  mysql:
  nginx: