<!--<div class="container">-->
    <div class="card card-login mx-auto mt-5">
        <p class="alert alert-danger text-center" ng-show="mensagem.texto && (status != 200)">
            {{mensagem.texto}}
        </p>
        <div class="card-header">Login</div>
        <div class="card-body">
            <form ng-submit="submiteLoginForm()">
                <div class="form-group">
                    <label for="username">Email address</label>
                    <input class="form-control" id="username" type="text" ng-model="usuario.username" placeholder="Enter usuario">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" type="password" ng-model="usuario.password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="#/register">Register an Account</a>
                <!--<a class="d-block small" href="forgot-password.html">Forgot Password?</a>-->
            </div>
        </div>
    </div>
<!--</div>-->
