<div >
    <p ng-show="(status != 200) && mensagem.texto" class="alert alert-danger">
        {{mensagem.texto}}
    </p>

</div>
<div class="table text-center">
    <h1 class="text-center " style="background-color:gray;">INFORMAÇÕES</h1>
    <h2 >TITLE</h2>
    <p>{{dog.title}}</p>
    <h2 >PRICE</h2>
    <p>{{dog.price}}</p>
    <h2 >AUTHOR</h2>
    <p>{{dog.author}}</p>
    <h2 >DESCRIPTION</h2>
    <p>{{dog.description}}</p>
</div>
<div>
    <a href="#/listbook"><button class="btn btn-secondary">Voltar</button></a>
</div>