<div ng-show="admin">
    <a href="#/addbook" ><button class="btn btn-secondary">Adicionar</button></a>
</div>
<div class="input-group">
    <input ng-model="filtro" type="search" placeholder="Search for...">
    <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
</div>
<div >
    <p ng-show="(status == 417) && mensagem.texto" class="alert alert-danger">
        {{mensagem.texto}}
    </p>

</div>

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>TITULO</th>
            <th>DESCRIÇÃO</th>
            <th>PRICE</th>
            <th>AUTHOR</th>
            <th class="text-center" ng-show="admin">ATUALIZAR</th>
            <th class="text-center" ng-show="admin">DELETAR</th>
        </tr>
        <tr ng-repeat="book in dogs | filter: filtro">
            <td>
                <a ng-href="#/bookid/{{book.id}}">{{book.title}}</a>
            </td>
            <td>{{book.description}}</td>
            <td>{{book.price}}</td>
            <td>{{book.author}}</td>
            <td class="text-center" ng-show="admin">
                <a ng-href="#/editbook/{{book.id}}"><button class="btn btn-warning">Atualizar</button></a>
            </td>
            <td class="text-center" ng-show="admin">
                <button ng-click="deleteBook(book)" class="btn btn-warning">Remover</button>
            </td>
        </tr>
    </table>
</div>