<div >
    <p ng-show="(status != 200) && mensagem.texto" class="alert alert-danger">
        {{mensagem.texto}}
    </p>

</div>
<div class="table text-center">
    <h1 class="text-center " style="background-color:gray;">INFORMAÇÕES</h1>
    <h2 >TITLE</h2>
    <img src="{{dog.file}}">
    <h2 >TITLE</h2>
    <p>{{dog.name}}</p>
    <h2 >PRICE</h2>
    <p>{{dog.description}}</p>
    <h2 >AUTHOR</h2>
    <p>{{dog.gender}}</p>
    <h2 >DESCRIPTION</h2>
    <p>{{dog.local}}</p>
    <h2 >DESCRIPTION</h2>
    <p>{{dog.race}}</p>
    <h2 >DESCRIPTION</h2>
    <p>{{dog.bear}}</p>
</div>
<div>
    <a href="#"><button class="btn btn-secondary">Voltar</button></a>
</div>