<div class="container jumbotron">

    <form action="/action_page.php">
        <h3>Cadastre seu animal para encontrar um novo lar para ele!</h3>

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Nome do Animal:</label>
            <div class="col-sm-5">
                <input type="input" class="form-control" id="email" placeholder="Nome do animal">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Descrição:</label>
            <div class="col-sm-5">
                <input type="input" class="form-control" id="pwd" placeholder="Descrição">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Local:</label>
            <div class="col-sm-5">
                <input type="input" class="form-control" id="pwd" placeholder="Local">
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Raça:</label>
                <div class="col-sm-5">
                    <input type="input" class="form-control" id="pwd" placeholder="Raça">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Genero:</label>
                <div class="col-sm-5">
                    <input type="input" class="form-control" id="pwd" placeholder="Genero">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="file"  file-model="file">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Cadastrar</button>
                </div>
            </div>
            
        </div>	
    </form>
    <!-- /.container -->
</div>