<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="sites/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="sites/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="sites/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="sites/css/sb-admin.css" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.ejs">Aplicação Basica</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="#/listagem">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Inicio</span>
          </a>
        </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
              <a class="nav-link" href="#/chat">
                  <i class="fa fa-fw fa-table"></i>
                  <span class="nav-link-text">CHAT</span>
              </a>
          </li>

      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">



      <div ng-view></div>
      </div>
    </div>
    </div>
</body>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>


      <script src="vendor/angular/angular.js"></script>
      <script src="vendor/angular-route/angular-route.js"></script>
      <script src="vendor/angular-resource/angular-resource.js"></script>
      <script src="main.js"></script>
    <script src="controller/BookController.js"></script>
<!--<script src="controller/TesteController.js"></script>-->
<script src="controller/ChatController.js"></script>

<script src="services/BookService.js"></script>
<!--<script src="services/TesteService.js"></script>-->

    <!-- Bootstrap core JavaScript-->
    <script src="sites/vendor/jquery/jquery.min.js"></script>
    <script src="sites/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="sites/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <!--<script src="sites/vendor/chart.js/Chart.min.js"></script>-->
    <script src="sites/vendor/datatables/jquery.dataTables.js"></script>
    <script src="sites/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="sites/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="sites/js/sb-admin-datatables.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>-->
    <!--<script src="libs/stomp-websocket/lib/stomp.min.js"></script>-->

    <!--<script type="text/javascript" src="libs/webstomp-client/dist/webstomp.min.js"></script>-->
    <script type="text/javascript" src="libs/websocket/lib/websocket.js"></script>
    <script type="text/javascript" src="libs/stomp-websocket/lib/stomp.js"></script>

    <!--<script src="libs/stomp.js"></script>-->
    <!--<script src="libs/webstomp.min.js"></script>-->

<!--<script>-->

<!--//     function connect() {-->
<!--//         var socket = new WebSocket('ws://192.168.8.108:8080/greeting');-->
<!--//         ws = Stomp.over(socket);-->
<!--//-->
<!--//         ws.connect({}, function(frame) {-->
<!--//             ws.subscribe("/user/queue/errors", function(message) {-->
<!--//                 alert("Error " + message.body);-->
<!--//             });-->
<!--//-->
<!--//             ws.subscribe("/user/queue/reply", function(message) {-->
<!--//                 showGreeting(message.body);-->
<!--//             });-->
<!--//         }, function(error) {-->
<!--//             alert("STOMP error " + error);-->
<!--//         });-->
<!--//     }-->
<!--//-->
<!--//     function disconnect() {-->
<!--//         if (ws != null) {-->
<!--//             ws.close();-->
<!--//         }-->
<!--//         setConnected(false);-->
<!--//         console.log("Disconnected");-->
<!--//     }-->
<!--//-->
<!--//     function sendName() {-->
<!--//         console.log("Enviado : "+$("#name").val());-->
<!--//         ws.send($("#name").val());-->
<!--//         // $("#greetings").append(" " + $("#name").val()+ "");-->
<!--//         $("#grettings").append($("#name").val()+"\n");-->
<!--//     }-->
<!--//-->
<!--//     function showGreeting(message) {-->
<!--//         console.log("Coloquei!");-->
<!--//         $("#greetings").append(" " + message + "");-->
<!--//         $("#grettings").val(message);-->
<!--//-->
<!--//     }-->
<!--//-->
<!--//     // console.log("BC");-->
<!--//     // connect();-->
<!--//     // console.log("DC")-->
<!--// //-->
<!--</script>-->


    <!--<script src="sites/js/sb-admin-charts.min.js"></script>-->

      <!--Angular-->


  </div>


</body>

</html>
